<nz-descriptions nzBordered>
  <nz-descriptions-item nzTitle="プロジェクト名称">Dev2ビルドファーム</nz-descriptions-item>
  <nz-descriptions-item nzTitle="開発統括" [nzSpan]="2">第二開発統括</nz-descriptions-item>
  <nz-descriptions-item nzTitle="開発開始時間">
    20xx-04-24 18:00:00
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="開発終了時間" [nzSpan]="2">
    20xx-04-24 18:00:00
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="プロジェクト概要" [nzSpan]="3">
    各タイトルのビルド担当者からBuildFarmへリクエストを行うアプリ。
    タイトルに合わせたビルド設定などを行う設定ツールとしての機能。
    Dev2側に合わせた内容やDev1に影響を与えないよう独自に構築想定のもの
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="注意" [nzSpan]="3">
    誰も何が作りたいかの詳細を持っていないので気を付けよう<br>
    向こうが持ってくる資料は一切あてにしてはいけない<br>
    誰もやりたいことがわかっていないのでプロトタイプを作るたびに要求が来ることが予想される心を落ち着けよう
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="開発メンバー" [nzSpan]="3">
    ******
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="方針" [nzSpan]="3">
    * 後ろは第一であるものをパクってそのまま動かす<br>
    * めんどくさいから機能の提案はしない（言われたこと以外しない）<br>
    * フロントはWebのほうが都合がよい（アップデートとか）<br>
    * セキュリティは考えない（言われたこと以外しない）<br>
    * 運用はだれかやって（言われてもやらない）<br>
  </nz-descriptions-item>
</nz-descriptions>
<nz-divider></nz-divider>
<nz-card style="width:100%;" nzTitle="構成">
  <div nz-row>
    <div nz-col nzSpan="12">
      <img src="assets/images/sample.png" alt="sample" style="margin-left: 10rem">
    </div>
  </div>
</nz-card>
